.AppNav {
  position: sticky !important;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  background: transparent !important;
  box-shadow: none !important;
  color: #49515d !important;
}
.AppbarButton {
  color: #8e939a !important;
  border-bottom: transparent 1px;
  border-style: groove;
}

.AppbarButton:hover {
  color: #49515d !important;
  background: transparent !important;
  border-bottom: #49515d 1px;
  border-style: groove;
}
