.AppbarButton {
  color: #8e939a !important;
}

.AppbarButton:hover {
  color: #49515d !important;
  background: transparent !important;
}

.Fader {
  font-family: Arial;

  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
